<nav>
    <ul class="navbar">
        <li><a class="button" href="/">Home</a></li>
        <li><a class="button" href="/users">Usuarios</a></li>
        <li><a class="button" href="/chats">Chats</a></li>
        <li><a class="button" href="/query">Consultas</a></li>
    </ul>
</nav>

<style>
    nav {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding: 10px;
        margin: 0;
        background-color: #e8f5e9; /* Verde muy claro */
    }

    .navbar li {
        margin-left: 10px;
    }

    .button {
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        color: white;
        background-color: #43a047; /* Verde fuerte */
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .button:hover {
        background-color: #388e3c; /* Verde más oscuro al pasar el mouse */
    }
</style>

